@import 'utils';

body {
  margin: 0;
  font-family: 'Apple SD Gothic Neo', Dotum, Arial, sans-serif;
  background: color('white');
  box-sizing: border-box;
  font-size: rem(14px);
  min-height: 100vh;
}

body[spoqa-han-sans-loaded] {
  font-family: 'Spoqa Han Sans', 'Apple SD Gothic Neo', Dotum, Arial, sans-serif;
}

* {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
